In [6]:
#importing the necessary libaries

import numpy as np
import pandas as pd
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
#importing the csv file 

df = pd.read_csv(r"C:\Users\User2\Downloads\netflixData.csv")

In [8]:
#to view the first five rows

df.head()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"

In [10]:
#descriptive statistic of the dataset

df.describe()

       Release Date
count   5964.000000
mean    2015.643863
std        7.257391
min     1925.000000
25%     2015.000000
50%     2018.000000
75%     2019.000000
max     2021.000000

In [11]:
df.isnull().sum()

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [13]:
df = df[["Title", "Description", "Content Type", "Genres"]]

In [14]:
df.head()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"

In [15]:
df = df.dropna()

In [16]:
df.head(1000)

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"
...,...,...,...,...
995,Christmas Break-In,"Stranded at school before holiday break, a pre...",Movie,"Children & Family Movies, Comedies"
996,Christmas Crossfire,"A man foils an attempted murder, then flees th...",Movie,"Comedies, International Movies, Thrillers"
997,Christmas in the Heartland,Two girls realize they're both visiting grandp...,Movie,Dramas
998,Christmas Inheritance,"To inherit her father's company, socialite Ell...",Movie,"Dramas, International Movies, Romantic Movies"
999,Christmas Survival,"With Christmas just around the corner, sisters...",Movie,Comedies

In [17]:
df.isnull().sum()

Title           0
Description     0
Content Type    0
Genres          0
dtype: int64

In [19]:
import nltk
import re
nltk.download('stopwords')
stemmer = nltk.SnowballStemmer("english")
from nltk.corpus import stopwords
import string
stopword=set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User2\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [20]:
def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text
df["Title"] = df["Title"].apply(clean)

In [34]:
print(df.Title.sample(10))

1785           genius ancient world
3513     lifetim session georg ezra
1182    danger mous classic collect
5613                  unrequit love
4162      serial killer pier morgan
2585          kulipari dream walker
3775                    project mc²
973                   children adam
5691
4485      super monster monster pet
Name: Title, dtype: object

In [35]:
feature = df["Genres"].tolist()
tfidf = text.TfidfVectorizer(input=feature, stop_words="english")
tfidf_matrix = tfidf.fit_transform(feature)
similarity = cosine_similarity(tfidf_matrix)

In [36]:
indices = pd.Series(df.index, 
                    index=df['Title']).drop_duplicates()

In [39]:
def netFlix_recommendation(title, similarity = similarity):
    index = indices[title]
    similarity_scores = list(enumerate(similarity[index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores = similarity_scores[0:10]
    movieindices = [i[0] for i in similarity_scores]
    return df['Title'].iloc[movieindices]

In [40]:
print(netFlix_recommendation("girlfriend"))

3                          blackaf
285                     washington
417                 arrest develop
434     astronomi club sketch show
451    aunti donna big ol hous fun
656                      big mouth
752                bojack horseman
805                   brew brother
935                       champion
937                  chappell show
Name: Title, dtype: object

In [42]:
print(netFlix_recommendation("super monster monster pet"))

54                                         cat
179                               abbi hatcher
429                               ask storybot
526                                 bal ganesh
544                   barbi dreamhous adventur
545    barbi dreamhous adventur go team robert
554                              barney friend
571                                   beat bug
599                   ben  holli littl kingdom
660                              big time rush
Name: Title, dtype: object

In [43]:
print(netFlix_recommendation("bal ganesh"))

54                                         cat
179                               abbi hatcher
429                               ask storybot
526                                 bal ganesh
544                   barbi dreamhous adventur
545    barbi dreamhous adventur go team robert
554                              barney friend
571                                   beat bug
599                   ben  holli littl kingdom
660                              big time rush
Name: Title, dtype: object